.c5{
    width: 24%;
    float: none;
    display: inline-block;
}

.responsive {
    overflow: hidden;
    height: 700px;
}

.sliderImg {
    width: 100%;
}

.slideItem {
    position: relative;
}

.modal-body-content{
    padding: 30px;
    font-size: 1.3em;
}

.modal-body-content img{
    float: left;
    width: 30%;
    height: 30%;
    margin: 10px;
}

.modal-header{
    text-align: center;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}