$blue: #0082c7;
body {
	font-family: $r;
}
a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.block_title {
	color: #FFF;
	text-transform: uppercase;
	font-family: $b;
    font-size: 20px;
	text-align: center;
	margin-top: 15px;	
}

.p0  {
	padding: 0;
}

.p5 {
	padding: 0 5px;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}






