@media only screen and (max-width: 1025px) {
	.navbar-default .navbar-nav > li > a {
		font-size: 15px;
	}
	ul.nav.navbar-nav.navbar-right.navigation__list {
	    margin-top: 20px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-top: 10px;
		background: #FFF;
		margin: 20px -15px 0;
		padding: 15px 0;
	}
	 .slick-slide{
    	margin-top: 70px;
		img {
			width: 100%;
		}
	}
	.about p {
	    padding: 0 50px;
	}
	.footer {
		.social {
			margin-left: -30px;
		}
	}

}

@media only screen and (max-width: 770px) {
	.align-left {
		text-align: center;
	}
	.align-right {
		text-align: center;
	}
	.about p {
	    padding: 0 25px;
	}
	.footer {
		.social {
			margin-left: 0;
		}
	}
	.col-md-17,
	.col-sm-17,
	.col-xs-17 {
		width: 14.285714285714285714285714285714%!important;
		*width: 14.285714285714285714285714285714%!important;
		margin-left: 0!important;
		
	}

}

@media only screen and (max-width: 500px) {
	.p5 {
		padding: 0 15px;
	}
	.navbar-right {
		margin-right: 0!important;
	}

	.navbar {
		margin-bottom: 10px;
	}

	.social {
		margin-top: 10px;
		margin-left: 10px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    	margin-top: 20px;
	    padding-left: 10px;
    }

    .header__slidedescription {
    	border-left-width: 10px;
    	padding: 10px 0 10px 20px;
    	bottom: 40px;
    	h2 {
    		font-size: 25px;
    	}
    	p {
    		font-size: 12px;
    	}
    }
     .slick-slide{
    	margin-top: 35px; 
    }
	.about p {
    	padding: 0 15px;
	}
	.footer {
		.social {
			margin-left: -10px;
			a {
				margin: 0 2px;
			}			
		}
		h1 {
		    font-size: 32px;
		}
	}

	.adress {
		h1 {
			font-size: 32px;
		}
		h3 {
			font-size: 20px;
		}
	}
   
}